pandas==1.5.3
Flask==2.3.3
Werkzeug==2.3.7
passlib==1.7.4
neo4j==4.2.0
PyYAML==6.0.1
wget==3.2
requests==2.31.0
biopython==1.81
obonet==0.3.1
rarfile==4.1
dash==2.14.1
redis>=3.5.3
matplotlib>=3.7.3
scipy==1.10.1
cyjupyter==0.2.0
pyvis==0.3.2
tzlocal==5.1
webweb==0.0.37
beautifulsoup4==4.12.2
scikit-learn==1.3.2
statsmodels==0.14.0
umap-learn>=0.5.4
pingouin>=0.5.3
python-louvain==0.16
snfpy==0.2.2
kmapper==2.0.1
natsort==8.4.0
mpmath==1.3.0
combat==0.3.3
lifelines==0.27.8
cvxpy==1.4.1
wordcloud==1.9.2
nltk==3.8.1
dash_cytoscape>=0.3.0
networkx==3.1
chart-studio==1.1.0
xhtml2pdf==0.2.11
lxml==4.9.3
celery==5.3.4
kombu==5.3.4
cffi>=1.16.0
rpy2==3.5.13; platform_system!="Windows"
h5py==3.9.0
jupyter>=1.0.0
xlrd==2.0.1
openpyxl==3.1.2
bcrypt==4.1.1
tables==3.8.0
psutil>=5.9.6
plotly==5.17.0
kaleido==0.2.1
gseapy==1.1.0
numpy==1.24.3
docutils==0.20.1
sphinx==7.2.6
rst2pdf==0.101
nbsphinx>=0.9.3
ipykernel>=6.26.0
eventlet==0.33.3
itsdangerous==2.1.2
reportlab==3.6.13
importlib-metadata>=6.8.0
